<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1> Tablero
            <small>Panel de Control</small>
          </h1>
          <small>Bienvenid@ {{ nombre }}</small>

        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item active">Tablero</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{ totalProd }}</h3>

              <p>Productos</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-barcode"></i>
            </div>
            <a href="/productos" class="small-box-footer">Detalle <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{ totalVtas }}{{!-- <sup style="font-size: 20px">%</sup> --}}</h3>

              <p>Ventas</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="/admin_ventas" class="small-box-footer">Detalle <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ totalCli }}</h3>

              <p>Clientes</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="/clientes" class="small-box-footer">Detalle <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{ totalProvs }}</h3>

              <p>Proveedores</p>
            </div>
            <div class="icon">
              <i class="ion ion-clipboard"></i>
            </div>
            <a href="/proveedores" class="small-box-footer">Detalle <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->

      <!-- Main row -->
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title">Gráfico ventas últimos 7 días</h3>
                <a href="/admin_ventas">Ver Reporte</a>
              </div>
            </div>
            <div class="card-body">
              <div class="d-flex">
                <p class="d-flex flex-column">
                  <span class="text-bold text-lg">{{ totalVtasSem }}</span>
                  <span>Ventas</span>
                </p>
                <p class="ml-auto d-flex flex-column text-right">

                  {{#if porcPos }}
                  <span class="text-success">
                    <i class="fas fa-arrow-up"></i> {{ porcPos }}%
                  </span>
                  {{else}}
                  <span class="text-danger">
                    <i class="fas fa-arrow-down"></i> {{ porcNeg }}%
                  </span>
                  {{/if}}
                  <span class="text-muted">Con la semana anterior</span>
                </p>
              </div>
              <!-- /.d-flex -->

              <div class="position-relative mb-4">
                <div class="chartjs-size-monitor">
                  <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                  </div>
                  <div class="chartjs-size-monitor-shrink">
                  </div>
                </div>
                <canvas id="ventas-chart-sem" height="400" width="710"
                  style="display: block; height: 200px; width: 355px;" class="chartjs-render-monitor"></canvas>

              </div>

              <div class="d-flex flex-row justify-content-end">
                <span class="mr-2">
                  <i class="fas fa-square text-primary"></i> Semana actual
                </span>

                <span>
                  <i class="fas fa-square text-gray"></i> Semana pasada
                </span>
              </div>
            </div>
          </div>
          <!-- /.card -->

          <div class="card">
            <div class="card-header ui-sortable-handle" style="cursor: move;">
              <h3 class="card-title">
                <i class="fas fa-chart-pie mr-1"></i>
                Cantidad de Ventas
              </h3>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content p-0">
                <!-- Morris chart - Sales -->
                <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;">
                  <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                      <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                      <div class=""></div>
                    </div>
                  </div>
                  <canvas id="revenue-chart-canvas" height="600" style="height: 300px; display: block; width: 419px;"
                    width="838" class="chartjs-render-monitor"></canvas>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div>

        </div>

        <div class="col-lg-6">

          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title">Gráfico ventas por mes</h3>
                <a href="/admin_ventas">Ver reporte</a>
              </div>
            </div>
            <div class="card-body">
              <div class="d-flex">
                <p class="d-flex flex-column">
                  <span class="text-bold text-lg">{{totalMesActual}}</span>
                  <span>Total mes actual</span>
                </p>
                <p class="ml-auto d-flex flex-column text-right">
                  {{#if porcMesPos }}
                  <span class="text-success">
                    <i class="fas fa-arrow-up"></i> {{ porcMesPos }}%
                  </span>
                  {{else}}
                  <span class="text-danger">
                    <i class="fas fa-arrow-down"></i> {{ porcMesNeg }}%
                  </span>
                  {{/if}}
                  <span class="text-muted">Con el mes anterior</span>
                </p>
              </div>
              <!-- /.d-flex -->

              <div class="position-relative mb-4">
                <div class="chartjs-size-monitor">
                  <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                  </div>
                  <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                  </div>
                </div>
                <canvas id="ventas-chart-mes" height="400" style="display: block; height: 200px; width: 355px;"
                  width="710" class="chartjs-render-monitor"></canvas>
              </div>

              <div class="d-flex flex-row justify-content-end">
                <span class="mr-2">
                  <i class="fas fa-square text-primary"></i> Año actual
                </span>

                <span>
                  <i class="fas fa-square text-gray"></i> Año anterior
                </span>
              </div>
            </div>
          </div>
          <!-- /.card -->

          <div class="card">
            <div class="card-header border-0">
              <h3 class="card-title">Productos más vendidos últimos 30 días</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-striped table-valign-middle text-center" id="table-prod-mes">
              </table>
            </div>
          </div>
          <!-- /.card -->

        </div>

      </div>
      <!-- /.row (main row) -->


    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->