<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Corte de caja</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                        <li class="breadcrumb-item active">Corte de caja</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card" id="cardIngreso">
            <!-- Card Header -->
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-pencil-alt"></i>
                    Realizar corte de caja
                    <small>(Los campos con </small><small style="color:#C20F30">*</small><small> son necesarios)</small>
                </h3>
            </div>

            <!-- Card Body -->
            <div class="card-body" id="bodyCorteCaja">
                <form id="formCorteCaja" method="get">
                    <input type="hidden" id="sumaIdeal" value="{{sumMontoIdeal}}">
                    <div class="row">
                        <div class="col-sm-6">
                            <table id="tbl-info-cortecaja" class="cell-border text-center" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Detalles</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Monto apertura</td>
                                        <td>{{monto_inicial}}</td>
                                    </tr>
                                    <tr>
                                        <td>Ventas en Efectivo</td>
                                        <td>{{ventas_efectivo}}</td>
                                    </tr>
                                    <tr>
                                        <td>Ventas con tarjeta</td>
                                        <td>{{ventas_tarjeta}}</td>
                                    </tr>
                                    <tr>
                                        <td>Ingresos de efectivo</td>
                                        <td>{{ingreso_efectivo}}</td>
                                    </tr>
                                    <tr>
                                        <td>Retiros de efectivo</td>
                                        <td>{{retiro_efectivo}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold text-success">Cantidad de efectivo aproximado en caja</td>
                                        <td class="text-bold text-success">{{montoIdeal}}</td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table id="tbl-det-cortecaja" class="display compact cell-border text-center" width="100%">
                                <thead>
                                    <tr>
                                        <th>Denominación</th>
                                        <th>Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>$1,000</td>
                                        <td><input type="number" min="1" class="form-control text-center" id="cantCorte1000"></td>
                                    </tr>
                                    <tr>
                                        <td>$500</td>
                                        <td><input type="number" min="1" class="form-control text-center" id="cantCorte500"></td>
                                    </tr>
                                    <tr>
                                        <td>$200</td>
                                        <td><input type="number" min="1" class="form-control text-center" id="cantCorte200"></td>
                                    </tr>
                                    <tr>
                                        <td>$100</td>
                                        <td><input type="number" min="1" class="form-control text-center" id="cantCorte100"></td>
                                    </tr>
                                    <tr>
                                        <td>$50</td>
                                        <td><input type="number" min="1" class="form-control text-center" id="cantCorte50"></td>
                                    </tr>
                                    <tr>
                                        <td>$20</td>
                                        <td><input type="number" min="1" class="form-control text-center" id="cantCorte20"></td>
                                    </tr>
                                    <tr>
                                        <td>$10</td>
                                        <td><input type="number" min="1" class="form-control text-center" id="cantCorte10"></td>
                                    </tr>
                                    <tr>
                                        <td>$5</td>
                                        <td><input type="number" min="1" class="form-control text-center" id="cantCorte5"></td>
                                    </tr>
                                    <tr>
                                        <td>$2</td>
                                        <td><input type="number" min="1" class="form-control text-center" id="cantCorte2"></td>
                                    </tr>
                                    <tr>
                                        <td>$1</td>
                                        <td><input type="number" min="1" class="form-control text-center" id="cantCorte1"></td>
                                    </tr>
                                    <tr>
                                        <td>$0.50</td>
                                        <td><input type="number" min="1" class="form-control text-center" id="cantCorte50c"></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Monto de Cierre:<small
                                        style="color:#C20F30">*</small></label>
                                <div class="col-sm-8">
                                    <input type="number" min="1" step="any" class="form-control text-center" id="montoCierre"
                                        required autofocus>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" id="btnCorteCaja" class="btn btn-primary">Guardar
                    <i class="fas fa-save"></i>
                </button>
                <button type="button" class="btn btn-danger float-right" onclick="location.href='/punto_venta'">Regresar
                    <i class="fas fa-undo-alt"></i>
                </button>
            </div>
            </form>
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>